*.rdb
.project
.settings
check_connections.sh
clean_package_deploy.sh
compile_deploy.sh
delete_missing_aipo.org
deploy.sh
jboss_pid.sh
jboss_spy.rb
restart_clean_package_deploy.sh
restart_jboss.sh
start_jboss.sh
stop_jboss.sh

*.jasper
*.*~
*.log
.classpath
*.iml

benchmark/
database_management/
gazelle-tm-war/WebContent/
newrelic/
/testing/

target/
.vagrant
.idea
atlassian-ide-plugin.xml
gazelle-tm-war/overlays/
update_dependencies.sh
