body {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

#gloss {
    z-index: 50;
    font-size: 11px;
    font-family: verdana, sans;
    text-align: left;
    visibility: hidden;
    position: absolute;
    width: 200px;
    border: 1px solid #666666;
    background-Color: #ffffff;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 4px;
}

#gloss .descriptiontitle {
    border-bottom: 1px dashed #444444;
    margin-bottom: 4px;
    padding-bottom: 4px;
}

p {
    font-family: verdana, sans;
    font-size: 10px;
}